#alert {
    position: absolute;
    display: none;
    bottom: 10%;
    right: 0;
}

#title,
title:hover {
    text-decoration: none;
    color: var(--white);
}

.btn {
    margin: 0 .75em;
}

.grid {
    margin: 2em 0 0;
    width: fit-content;
    border: 10px solid var(--primary);
    border-radius: 5px;
}

.groupTitle {
    margin-bottom: .5em;
    color: var(--white);
}

.navbar-collapse {
    flex-basis: 0 !important;
}