.node {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    display: inline-block;
    border: 1px solid var(--light);
}

.node-finish {
    background-color: var(--danger);
}

.node-start {
    background-color: var(--success);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.node-wall {
    animation-name: wallAnimation;
    animation-duration: .75s;
    animation-fill-mode: forwards;
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes visitedAnimation {
    0% {
        background-color: var(--yellow);
    }

    100% {
        background-color: var(--cyan);
    }
}

@keyframes wallAnimation {
    0% {
        background-color: var(--yellow);
    }

    25% {
        background-color: var(--teal);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        background-color: var(--primary);
    }
}

@keyframes shortestPath {
    0% {
        background-color: var(--yellow);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        background-color: var(--orange);
    }
}